.big{ .square(100%); }

body{
	user-select: none;
	-webkit-user-select: none;
	background-color: #efefef;
	overflow: hidden;
}
.square(@size){ width: @size; height: @size; }

.round{
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.topRound{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
}
.page{ 
	position: relative;
	height: 100%;
}

.header{ width: 100%; height: 50px; }

.tree{
	width: 15%;
	height: 80%;
	position: absolute;
	left: 0px;
	border: 1px black solid;
	overflow: auto;
	.round;
	outline: none;
}
.dev{
	width: 85%;
	height: 100%;
}
.middle{
	.big;
}

.point{ cursor: pointer; }

.editor{
	/* position: relative; */
	margin-left: 15%;
	height: 500px;
	width: 80%;
}

.editor-tab-bar{
	margin-top: 5px;
}

.editor-tab-item{
	padding: 5px;
	font-weight: bold;
	font-size: 16px;
	color: gray;
	.point;
	.topRound;
}

.editor-tab-item-selected{
	.topRound;
	background-color: #202020;
	color: white;
}

.app_window{
	border: 1px solid #cccccc;
	overflow: auto;
}

.app_window_header{
	border-bottom: 1px #202020 dotted;
	color: #202020;
	font-weight: bold;
	padding: 2px;
	padding-left: 5px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	text-align: right;
}

.app_window_resize_handle{
	position: absolute;
	bottom: 0; right: 0;
	width: 30px; height: 30px;
	cursor: nwse-resize;
	overflow: hidden;
}
.app_window_resize_handle:active{
	transition: background-color 0.5s ease;
	background-color: #F8FC9D;
}
